# Java-specific ignores
*.class
*.jar

# Gradle-specific ignores
.gradle/
build/

# VS Code-specific ignores
.vscode/
.settings/

# Build output
bin/
target/

# IntelliJ IDEA-specific ignores
*.iml
*.ipr
*.iws
.idea/
out/